<template>
    <div class="desktop-size">
        <div id="f-left" class="folders-left">
            <div v-for='file in AllFiles[0]' v-show="file.desktop == true">
                <folder v-bind:allfiles='AllFiles[0]' v-bind:file='file'/>
                <div @mouseover="start(file.name)" @click="indexcheck(file.name)" class="open-window" v-bind:id="file.name" v-show="file.type == 't'" v-bind:class="[(file.type == 'p') ? type : '']">
                    <div  class="window-header clearfix" v-bind:id="file.name + 'header'">
                        <div class="window-header-styling">
                            <img :src="'/img/' + file.icon + '.png'" alt="File type image">
                            <p>{{file.name}}</p>
                            <div class="buttons-right clearfix">
                                <div @click="small(file.name)" class="button small"><i class="far fa-window-minimize"></i></div>
                                <div @click="big(file.name)" class="button big"><i class="far fa-window-maximize"></i></div>
                                <div @click="close(file.name, file)" class="button exit"> <i class="fas fa-times"></i> </div>
                            </div>
                        </div>

                    </div>
                        
                        <textfile v-if="file.type=='t'" v-bind:file='file'/>

                        <folders v-else-if="file.type=='f'" v-bind:foldersin='file'/>

                        <mail v-else-if="file.type=='m'" v-bind:file='file'/>

                        <project v-else-if="file.type=='p'" v-bind:file='file'/>
                        
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import folder from '../components/Folder'
import folders from '../components/Folders'
import textfile from '../components/text-file'
import mail from '../components/contact'
import project from '../components/Project'
import mix from '../components/mixin'
export default {
    name : 'dekstop',
    components:{
        folder,
        textfile,
        folders,
        mail,
        project
    },
    data(){
        return{
            AllFiles : [],
            interval : false,
            element : 0,
            index: 1,
            type : 'no-resize'
        }

    },
    mixins : [mix]
}
</script>

<style lang="scss">
%border{
  border-top: 2px solid#FFFFFF;
}
%button{
  border-bottom: 1px solid #010303;
  border-right: 1px solid #010303;
  border-top: 1px solid#FFFFFF;
  border-left: 1px solid#FFFFFF;
}
%button-invert{
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
}
%font-b{
  font-weight: bold;
  font-size: 15px;
}
    .desktop-size{
    }
    .folder{
        padding: 10px 15px
    }
    .open-window{
        min-height: 317px;
        min-width: 400px;
        height: 350px;
        width: 600px;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        display: none;
        background: #C0C0C0;
        position: absolute;
        resize: both;
        overflow: hidden;
        padding: 5px;
        @extend %button;
        

    }
    .window-header{
        background: #000080;
        width: auto;
        padding: 5px;
        position: relative;
        cursor: pointer;
        &-styling{
            display: flex;
            height: 100%;
            align-items: center;
        }
        img{
            display: inline-block;
            height: 24px;
            width: 24px;
        }
        p{
            display: inline-block;
            width: auto;
            margin: 0;
        }
        .button{

            background: #D4D0C8;
            padding: 2px;
            margin-left: 2px;
            width: 15px;
            height: 15px;
            @extend %button;
            cursor: pointer;
            display: inline-block;
            
        }
        .buttons-right{
            display: inline-block;
            right: 0;
            position: absolute;
            margin-right: 5px;
        }
    }
    .no-resize{
        width: 855px;
        height: 480px;
        resize: none;
        .big{
            display: none!important;
        }
    }
</style>

