<template>
    <div class="text-file-styling">
        <form method="POST">
            <div class="borders">
                <div class="forms">
                    <div class="inside-inline">
                    <label>To: </label>
                    <input readonly="readonly" type="email" value="gerulisjonas1@gmail.com">
                    </div>
                    <div style="margin: 10px 0" class="inside-inline">
                    <label>From: </label>
                    <input v-model="email" name="email" type="email" placeholder="Your email">
                    </div>
                    <div class="inside-inline">
                    <label>Subject: </label>
                    <input v-model="subject" type="text" placeholder="Subject">
                    </div>
                </div>
                <div class="send-btn">
                    <div @click="mail" style="display:flex; justfy-conter:center; align-items:center; height:100%;">
                        <img src="/img/send-button.png" alt="Send the email">
                    </div>
                </div>
            </div>

                <textarea v-model="message" name="message" class="text-area" type="text" placeholder="Your message"></textarea>
        </form>


    </div>
</template>

<script>
import email from '../components/email'
export default {
    name: 'mail',
    props: ['file'],
    mounted(){

    },
    mixins: [email]

}
</script>

<style lang="scss" scope>
%button{
  border-bottom: 1px solid #010303;
  border-right: 1px solid #010303;
  border-top: 1px solid#FFFFFF;
  border-left: 1px solid#FFFFFF;
}
%button-invert{
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
}
.text-inside{
    width: 99%;
}
.borders{
    width: 100%;
    @extend %button;
    padding-top: 20px;
    position: relative;
}
.inside-inline *{
    display: inline-block!important;
}
.forms, .send-btn{
    display: inline-block;
}
.send-btn{
    position: absolute;
    height: 101px;
    width: 10%;
    top: 50%;
    transform: translateY(-50%);
    
    img{
        @extend %button;
        padding: 2px;
        cursor: pointer;
    }
}
.inside-inline{
    label{
        text-align: left;
        width: 12%;
        margin-left: 20px;

    }
    input{
        width: 80%;
        padding: 5px 2px;
        @extend %button-invert;
    }

}
    form{
        width: 100%;
        position: relative;
    }
.input-placeholder{
    width: 100%;
}
.text-area{
    width: 100%!important;
    height: 100%!important;
    overflow: hidden!important;
}
.text-file-styling{
    overflow: hidden!important;
}
.forms{
    width: 90%;
}   
</style>