<template>
    <div class="folders-outside">
    <div class="folders-inside">

                <div style="margin-top:20px; width: auto; height: 120px;" v-for='file in foldersin.folders'>
                    <folder v-bind:file='file'/>
                <div @mouseover="start(file.name)" @click="indexcheck(file.name)" class="open-window" v-bind:id="file.name" v-show="file.type == 't'" v-bind:class="[(file.type == 'p') ? type : '']">
                    <div  class="window-header clearfix" v-bind:id="file.name + 'header'">
                        <div class="window-header-styling">
                            <img :src="'/img/' + file.icon + '.png'" alt="File type image">
                            <p>{{file.name}}</p>
                            <div class="buttons-right clearfix">
                                <div @click="small(file.name)" class="button small"><i class="far fa-window-minimize"></i></div>
                                <div @click="big(file.name)" class="button big"><i class="far fa-window-maximize"></i></div>
                                <div @click="close(file.name, file)" class="button exit"> <i class="fas fa-times"></i> </div>
                            </div>
                        </div>

                    </div>
                        
                        <textfile v-if="file.type=='t'" v-bind:file='file'/>

                        <folders v-else-if="file.type=='f'" v-bind:foldersin='file'/>

                        <mail v-else-if="file.type=='m'" v-bind:file='file'/>

                        <project v-else-if="file.type=='p'" v-bind:file='file'/>
                        
                </div>
                </div>

                
    </div>
    </div>
</template>

<script>
import folder from '../components/Folder'
import textfile from '../components/text-file'
import { Draggable } from 'draggable-vue-directive'
import mail from '../components/contact'
import project from '../components/Project'
import mix from '../components/mixin'
export default {
    name: 'folders',
    props: ['foldersin'],
    components:{
        folder,
        textfile,
        mail,
        project
    },
    data(){
        return{
            type : 'no-resize'
        }
    },
    mixins : [mix],
    mounted(){
        var pro = []
        var block = document.getElementById('f-left')
        if(this.$props.foldersin.folders.length > 0){
            var i
            for(i = 0; this.$props.foldersin.folders.length; i++){
                
                block.after(document.getElementById(this.$props.foldersin.folders[i].name))
                
            }
        }
    }
}
</script>
<style lang="scss">
.folders-outside{
    width: 99%;
    height: 80%;
}
    .folders-inside{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        background: white;
        margin-top: 30px;
          border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
  overflow-y: scroll;
  margin-right: 5px;

    p{
        color: black;
    }
    }
</style>
