<template>
    <div @click="open(file.name, file)" class="folder">
        <div class="folder-styling">


        <div :style="{ 'background-image': 'url(/img/' + file.icon + '.png)' }" class="folder-icon">

        </div>
        <p>{{file.name}}</p>

        </div>
    </div>
</template>

<script>
import mix from '../components/mixin'
export default {
    data(){
        return{
            test : 0,
            all: [],
            
        }
    },
    name : 'folder',
    mixins : [mix],
    props: ['file', 'allfiles'],
    methods:{
        open(folder, link){
            if(link.link == null){
            var doc = document.getElementById(folder)
           
           var tab = document.getElementById('tabs'+folder)
           doc.style.display = "block",

           tab.style.display = "inline-block",
           this.$props.file.active(true)
           var allwindows = document.getElementsByClassName('open-window')
           var alltabs = document.getElementsByClassName('tabs')
           for(var d = 0; alltabs.length > d; d++){
               alltabs[d].classList.remove('active')
           }
           for(var i = 0; i < allwindows.length; i++){
               allwindows[i].style.zIndex = 1
           }
           doc.style.zIndex = 2
           tab.classList.add('active')
           console.log(doc)
            }else  openInNewTab(link.link)
            function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
            }
           
            

           


        }
    },
    mounted() {
        this.$active.push(this.$props.file)
        this.all.push(this.$props.allfiles)
    }
}

</script>

<style lang="scss">
    .folder-icon{
        height: 42px;
        width: 42px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;

    }
    p{
        width: 100px;
        height: auto;
        text-align: center;
        margin-top: 5px;
        color: white;
    }
    .folder{
        width: 100px;
    }
    .folder-styling{
        cursor: pointer;
    }
    
</style>

