<template>
    <div class="navigation" id="navigation">
        <div v-show="toggle" id="navigation-pop-up">
            <div class="left">
                <p>JONAS<span style="color: white; font-weight: 100">95</span></p>
            </div>
            <div id="right" class="right">
                <ul>
                    <li v-for="file in globalnav[0]" v-show="file.navigation == true">
                        <folder v-bind:allfiles='globalnav[0]' v-bind:file='file'/>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="navigation-inside">

            <li @click="popnav" style="display:inline-block" class="navigation-inside-startButton">
                <div class="startButton-center">
                    <div id="startButton-icon" class="startButton-lining"></div>
                    <p>Start</p>
                </div>

            </li>
            <li style="width: auto;" class="tabs" v-for="item in items" v-bind:id="'tabs' +item.name" @click="appear(item.name)">
                <div style="width: auto;">
                    <div v-bind:style="{ backgroundImage: 'url(/img/' + item.icon + '.png)' }" class="icons"></div>
                    <p style="width: 100%;">{{item.name}}</p>
                </div>

            </li>
            <li style="display:inline-block" class="navigation-inside-clock">
                <div class="clock-styling">
                    {{timer(new Date)}}
                </div>

            </li>
        </ul>
    </div>
</template>


<script>
import mix from '../components/mixin'
import folder from '../components/Folder'
export default {
    name: 'Navigation',
    components:{
        folder
    },
    mixins : [mix],
    data(){
        return{
            time : 0,
            items : this.$active,
            toggle : false,
            navfile : []
        }
    },
    methods:{
        item(f){
            this.navfile.push(f)
        },
        popnav(){
            if(this.toggle == true){
                this.toggle = false
            }else this.toggle = true
            
            console.log(this.toggle)
            
        },
        timer(date){
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            return hours + ':' + minutes + ' ' + ampm;

        },
        created() {
            this.timer(new Date)
            
        },
        appear(f){
            var doc = document.getElementById(f)
            doc.style.display = "block"

            var tab = document.getElementById('tabs'+f)
           var i
           for(i = 0; i <= this.items.length; i++){

               var taball = document.getElementById('tabs'+this.items[i].name)
               var alldoc = document.getElementById(this.items[i].name)

               console.log(alldoc)
               if(alldoc != null){
               alldoc.style.zIndex = 1
               }
               taball.classList.remove("active");
               tab.classList.add('active')
               doc.style.zIndex = 2
           }
        }
    },
    mounted(){
        var item = document.getElementById('whatever')
    }
}
</script>
<style lang="scss" scope>
%button{
  border-bottom: 1px solid #010303;
  border-right: 1px solid #010303;
  border-top: 1px solid#FFFFFF;
  border-left: 1px solid#FFFFFF;
}
%button-invert{
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
}
.navigation-inside{
    position: relative;
    padding: 3px 2px!important;
}

#navigation-pop-up{
    position: absolute;
    height: 300px;
    z-index: 2000;
    bottom: 40px;
    left: 3px;
    width: 300px;
    @extend %button;
}
.left, .right{
    display: inline-block;
    height: 100%;
}
.left{
    width: 15%;
    background: #808080;

    p{
        writing-mode:vertical-rl;
        transform: rotate(90%);
        text-orientation:sideways;
        margin: 0;
        width: 25px;
        font-weight: 900;
        font-size: 34px;
        color: #C0C0C0;
        padding: 20px;
        padding-left: 14px;
        margin: 0 auto;
    }
}
.right{
    position: absolute;
    width: 85%;
    height: 100%;
    background: #BFC0C4;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        .folder-icon, p{
            display: inline-block;
            margin: 0;
        }
        .folder{
            padding: 0;
            width: 100%;
            padding: 10px 0;
        }
        p{
            width: auto;
            margin-left: 10px;
            color: black;
        }
        .folder-styling{
            display: flex;
            align-items: center;
        }
        li{
            height: auto;
            &:hover{
                background: #000080;
                p{
                    color: white;
                }
            }
        }
        .folder-icon{
            margin-left: 10px;
        }
    }
}
.tabs{
    display: none;
    cursor: pointer;
    div{
        height: 37px;
        display: flex;
        align-items: center;
        @extend %button;
        margin-left: 6px;
    }
    p{
        margin: 0;
        text-align: left;
        margin-left: 5px;
        color: white!important;
    }
    .icons{
        border: none;
        height: 25px;
        width: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.active{
    div{
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
  }
}

    
</style>