<template>
  <div class="project-file clearfix">
    <div class="picture">
      <div class="pc">
        <img v-bind:src="'../img/' + file.name + '.gif'" alt="" />
      </div>
    </div>
    <div class="description">
      <div class="description-inside">
        <div class="program-title">
          <i class="fas fa-exclamation-circle"></i>
          <h1>{{ file.title }}</h1>
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="text-border">
          <p>{{ file.description }}</p>
          <p class="technologies">
            <span style="font-weight: bold; color: red;">Technologies: </span>
            {{ file.technologies }}
          </p>
        </div>
        <div class="btn-center">
          <a
            v-show="file.github != ''"
            v-bind:href="file.github"
            target="_blank"
            >GitLab ></a
          >
          <a style="margin-left: 1%" target="_blank" v-bind:href="file.website"
            >Visit ></a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "project",
  props: ["file"],
  mounted() {}
};
</script>
<style lang="scss" scope>
%button {
  border-bottom: 1px solid #010303;
  border-right: 1px solid #010303;
  border-top: 1px solid#FFFFFF;
  border-left: 1px solid#FFFFFF;
}
%button-invert {
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
}
.project-file {
  height: auto;
  margin-top: 35px;
  position: relative;
  overflow: auto;
  height: 85%;
  .text-border {
  }
  .program-title {
    display: flex;
    justify-content: space-between;
    i {
      color: #f70200;
      font-size: 30px;
    }
  }
  .picture,
  .description {
    display: inline-block;
  }
  .picture {
    width: 50%;
    height: 100%;
    left: 50%;
    position: absolute;
    .pc {
      background-image: url("/img/pc-screen.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: 300px;
      width: 300px;
      margin: 0 auto;
      position: relative;
      img {
        height: 182px;
        width: 248px;
        position: absolute;
        left: 26px;
        top: 30px;
      }
    }
  }

  .description {
    height: 100%;
    width: 50%;
    left: 50%;
    .description-inside {
      padding: 0 3%;
      position: relative;
      height: 100%;
      a {
        display: inline-block;
        padding: 10px 20px;
        @extend %button;
        color: #000080;
        text-decoration: none;
      }
      .btn-center {
        position: absolute;
        bottom: 30px;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    p {
      position: unset;
      text-align: left;
      width: 100%;
      font-size: 19px;
      color: black;
    }
    h1 {
      margin: 0;
      text-transform: uppercase;
      text-transform: uppercase;
    }
    span {
      text-transform: uppercase;
    }
    .technologies {
      color: #f70200;
    }
  }
}
</style>
