<template>
    <div class="text-file-styling">
        <textarea>
            {{file.text}} 
        </textarea>
    </div>
</template>

<script>
export default {
    name: 'textfile',
    props: ['file'],
    mounted(){

    }

}
</script>

<style lang="scss">
%button-invert{
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
}
    .text-file-styling{
        display:flex;
        height: 80%;
        margin-top: 30px;
        textarea{
            width: 100%;
            margin-right: 5px;
            height: 95%;
            resize: none;
            overflow: scroll;
            @extend %button-invert;
            font-size: 16px;
        }
    }
</style>