<template>
  <div id="app">


    <router-view/>

  <Navigation/>
  </div>
</template>

<script>
import Navigation from './components/Navigation'
export default {
  name: 'app',
  components: {
    Navigation
  }
  
}
</script>

<style lang="scss">
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
$bg : #BFC0C4;
$in : #BFBFBF;


//BORDERS

%border{
  border-top: 2px solid#FFFFFF;
}
%button{
  border-bottom: 1px solid #010303;
  border-right: 1px solid #010303;
  border-top: 1px solid#FFFFFF;
  border-left: 1px solid#FFFFFF;
}
%button-invert{
  border-bottom: 1px solid#FFFFFF;
  border-right: 1px solid#FFFFFF;
  border-top: 1px solid #010303;
  border-left: 1px solid #010303;
}
%font-b{
  font-weight: bold;
  font-size: 15px;
}

#app {
  height: 100vh;
  width: 100vw;
  position: relative;
}
body{
  margin: 0;
  padding: 0;
  background: #008081;
  overflow: hidden;
}
.navigation{
  position: absolute;
  z-index: 100;
  width: 100vw;
  background: $bg;
  height: auto;
  bottom: 0;
  @extend %border;
  &-inside li{
    float: left;
  }
  &-inside{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    padding: 3px 2px;

//======================================== START BUTTON {
    &-startButton{
      height: 100%;
      width: 80px;
      @extend %button;
      cursor: pointer;
      .startButton-center{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    #startButton{
      display: none;
      }
    #startButton-icon{
      background-image: url('/img/artage-io-48148_1556044605.png');
      height: 35px;
      width: 100px;
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
      }
    .startButton-lining{
      display: inline-block;
      }
    p{
      margin: 0;
      margin-left: 4px;
      @extend %font-b;
      color: black;
      cursor: pointer;
    }
//========================================  }
    &-clock{
      float: right!important;
      height: 35px;
      padding: 1px;
      @extend %button-invert;
      .clock-styling{
        display: flex;
        height: 35px;
        padding: 0 10px;
        align-items: center;
      }
    }
    }




  }
</style>
